// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  padding: 4rem 0;
  text-align: center;
  color: white;

  &__title {
    font-size: 1.7rem;
  }

  &__text {
    font-size: .95rem;
    padding: 2rem 0 0;
    line-height: 1.7;
  }

  @include breakpoint-up(xlarge) {
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
      font-size: 3rem;
    }

    &__text {
      font-size: 1rem;
    }
  }
}